<div class='container'>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<h6>Auther: <%= @user.username %></h6>

<%if current_user && @article.user_id == current_user.id %>
<ul>
<li><%= link_to "Edit", edit_article_path(@article) %></li>
<li><%= button_to "Delete", article_path(@article), method: :delete %></li>
</ul>
<% end %>


<%= link_to "Back", :back %>

</div>