<div class='container show-main'>


<div style="text-align: right" class="mt-4">
<%= link_to "Back", :back , class: 'show-back-link'%>
</div>


<h1 class='show-article-title'><%= @article.title %></h1>

<p class='show-article-body'><%= @article.body %></p>

<p class='show-article-author'><small>written by:</small> <%= @user.username %></p>

<%if current_user && @article.user_id == current_user.id %>
<div class='show-links-box' >
<%= link_to "Edit", edit_article_path(@article) , class:'show-article-edit'%>
<%= button_to "Delete", article_path(@article), method: :delete , class:'show-article-delete' %>
</div>
<% end %>


</div>