<div class='container'>
<div class='auth-main'>

<h2 class="auth-title">Forgot your password?</h2>


<div class='auth-form'>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class='card col-4 mx-auto' style="border: none">
<div class='auth-form-content '>

  <div class="field">
    <%= f.label :email , class: 'auth-form-label'%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'auth-form-input'%>
  </div>

  </div>
  </div>

  <div class="actions m-4">
    <%= f.submit "Send me reset password instructions" , class: 'auth-form-submit'%>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>

</div>
</div>