
<div class='container'>
<div class='auth-main'>

<h2 class="auth-title">Log in</h2>


<div class='auth-form'>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class='card col-4 mx-auto' style="border: none">
<div class='auth-form-content '>
  <div class="field">
    <%= f.label  :email , class: 'auth-form-label'%> <br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'auth-form-input'%>
  </div>

  <div class="field">
    <%= f.label :password, class: 'auth-form-label' %> <br/>
    <%= f.password_field :password, autocomplete: "current-password" , class: 'auth-form-input' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  </div>
  </div>


  <div class="actions m-4">
    <%= f.submit "Log in" , class: 'auth-form-submit'%>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>

</div>
</div>